In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('task_details.csv')

In [9]:
df

,UNIQUE TASK NUMBER,TASK NAME,DESCRIPTION,CREATION DATE,STARTED DATE,COMPLETION DATE,STATUS,DAYS LEFT
0,1,airlfow,utube,08-11-2022,NaN,11-12-2022,Not Started,NaN

In [19]:
a = df[df['UNIQUE TASK NUMBER']==1].index[0]
a

0

In [20]:
df.loc[a,['TASK NAME', 'DESCRIPTION', 'STARTED DATE', 'COMPLETION DATE', 'STATUS']] = [5,5,5,5,5]
df

,UNIQUE TASK NUMBER,TASK NAME,DESCRIPTION,CREATION DATE,STARTED DATE,COMPLETION DATE,STATUS,DAYS LEFT
0,1,5,5,08-11-2022,5.0,5,5,NaN