In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('task_details.csv')

In [3]:
df

,UNIQUE TASK NUMBER,TASK NAME,DESCRIPTION,CREATION DATE,STARTED DATE,COMPLETION DATE,STATUS,DAYS LEFT
0,1,pyspark,lex,10-11-2022,NaN,21-11-2022,Not Started,NaN
1,2,aws developer associate,aws partner,10-11-2022,NaN,12-12-2022,Not Started,NaN

In [4]:
a = df[df['UNIQUE TASK NUMBER']==2].index[0]
a

1

In [20]:
df.loc[a,['TASK NAME', 'DESCRIPTION', 'STARTED DATE', 'COMPLETION DATE', 'STATUS']] = [5,5,5,5,5]
df

,UNIQUE TASK NUMBER,TASK NAME,DESCRIPTION,CREATION DATE,STARTED DATE,COMPLETION DATE,STATUS,DAYS LEFT
0,1,5,5,08-11-2022,5.0,5,5,NaN